:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(30, 30, 30);
	color: rgb(255, 255, 255);
	overflow-x: hidden;
}

#header {
	padding-left: 8%;
	background-color: rgb(0, 0, 0);
	padding-right: 8%;
	height: 8%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: white;
	z-index: 999;
}

#header #links {
	display: flex;
	flex-direction: row;
	gap: 1.2rem;

}

#header #links a {
	color: white;
	text-decoration: none;
	font-size: 100%;
}

#header #links a:hover {
	color: rgb(230, 171, 255);
	text-decoration: underline;
}

#header #links .currently-selected {
	text-decoration: underline;
	text-decoration-style: wavy;
}

#banner {
	padding: 1%;
	padding-left: 8%;
	padding-right: 8%;
	background: linear-gradient(224deg, rgba(71, 59, 125, 1) 0%, rgb(37, 25, 56) 100%);
	display: flex;
	justify-content: space-between;
}

#hero {
	height: 92%;
	padding-left: 20%;
	padding-right: 20%;
	background-image:
		linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 100%),
		url(web-assets/artworks/mainmenu.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.4rem;
	text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.61);
}

#hero-alt {
	height: 30%;
	padding-left: 20%;
	padding-right: 20%;
	background-image:
		linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 100%),
		url(web-assets/artworks/mainmenu.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.4rem;
	text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.61);
}

#hero * {
	padding: 4%;
	color: white;
	text-align: center;
}

#hero img {
	max-width: 100%;
}

#content {
	font-size: 1.2rem;
	text-align: justify;
	padding-left: 32%;
	padding-right: 32%;
	padding-top: 8%;
	padding-bottom: 8%;
	color: white;
	background-color: black;
}

#content img {
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}

#content h1 {
	padding-bottom: 2%;
}

#content #artwork-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

#content #artwork-container .artwork {
	padding: 2%;
}

#content .artwork-info {
	font-size: 1.4rem;
	border-radius: 0px 0px 5px 5px;
	background-color: rgb(45, 45, 45);
	padding: 8%;
}


.mono {
	font-family: monospace;
	font-size: 1rem;
	color: rgb(180, 180, 180);
}

hr {
	margin: 5%;
}

#footer {
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 8%;
	padding-right: 8%;
	background-color: rgb(30, 30, 30);
	color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 8px;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	font-size: 0.9rem;
}

#footer #footer-text {
	text-align: right;
}

#footer #footer-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 2%;
}

a {
	color: rgb(235, 189, 255);
	text-decoration: none;
}

a:hover {
	color: rgb(255, 255, 255);
}

#header .currently-selected {
	color: rgb(235, 189, 255);
}


#links-dropdown {
	display: none;
}

@media (max-width: 630px) {


	#links a {
		display: none;
	}

	#links-dropdown {
		display: block;
		padding: 10px;
		border-radius: 5px;
		background-color: rgb(30, 30, 30);
		border: 1px solid rgb(100, 74, 111);
		color: white;
	}

	#hero p {
		display: none;
	}


}


@media (max-width: 1000px) {

	#banner {
		padding: 2%;
		padding-left: 8%;
		padding-right: 8%;
		background: linear-gradient(224deg, rgba(71, 59, 125, 1) 0%, rgb(37, 25, 56) 100%);
	}

	#content {
		font-size: 1.2rem;
		text-align: justify;
		padding-left: 8%;
		padding-right: 8%;
		padding-top: 8%;
		padding-bottom: 8%;
		color: white;
		background-color: black;
	}

	#footer {
		padding-top: 8%;
		padding-bottom: 8%;
		padding-left: 8%;
		padding-right: 8%;
		background-color: rgb(30, 30, 30);
		color: white;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 8px;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		font-size: 0.9rem;
	}

	#footer #footer-links {
		display: none;
	}

	#footer #logo-footer {
		padding-bottom: 10%;
		display: flex;
		justify-content: center;
	}

	#footer #footer-text {
		text-align: center;
	}

	#content #artwork-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}